In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
import warnings
import pandas as pd
import numpy as np
warnings.filterwarnings(action='ignore')

# 데이터 불러오기

In [2]:
경기별_수치 = pd.read_csv("./남자배구_경기별_수치.csv")
경기별_수치

,index,경기번호,경기날짜,팀명,홈_어웨이,결과,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,...,득점점유율,스타팅멤버,팀코드,디그_성공률,세트_성공률,리시브_정확도,블로킹_성공률,총_점수,실점,상대팀
0,0,1,2017-10-14,대한항공,0,0,65,105,55,10,...,1.0,6,0,0.72,0.52,0.56,0.10,100,104,현대캐피탈
1,1,1,2017-10-14,현대캐피탈,1,1,68,94,54,4,...,1.0,6,1,0.70,0.51,0.49,0.21,104,100,대한항공
2,2,2,2017-10-15,KB손해보험,1,1,76,116,61,14,...,1.0,6,2,0.80,0.52,0.48,0.10,106,103,삼성화재
3,3,2,2017-10-15,삼성화재,0,0,68,90,51,5,...,1.0,6,3,0.69,0.54,0.41,0.22,103,106,KB손해보험
4,4,3,2017-10-17,OK저축은행,1,1,78,105,57,5,...,1.0,6,4,0.77,0.51,0.52,0.24,105,101,한국전력
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1215,608,2022-02-11,우리카드,0,0,54,80,45,4,...,1.0,6,6,0.74,0.52,0.26,0.10,85,94,삼성화재
1216,1216,609,2022-02-12,KB손해보험,0,0,78,125,65,12,...,1.0,6,2,0.72,0.51,0.51,0.13,104,106,한국전력
1217,1217,609,2022-02-12,한국전력,1,1,86,123,68,8,...,1.0,6,5,0.67,0.52,0.37,0.19,106,104,KB손해보험
1218,1218,610,2022-02-13,OK금융그룹,0,1,51,82,41,6,...,1.0,6,7,0.89,0.48,0.46,0.15,79,70,현대캐피탈
1219,1219,610,2022-02-13,현대캐피탈,1,0,40,66,33,7,...,1.0,4,1,0.68,0.50,0.44,0.13,70,79,OK금융그룹

# 데이터 전처리

## OK저축은행과 OK금융그룹 같은 값으로 처리

In [3]:
경기별_수치["상대팀"] = 경기별_수치['상대팀'].replace({ 'OK저축은행':'OK금융그룹'})
경기별_수치["팀명"] = 경기별_수치['팀명'].replace({ 'OK저축은행':'OK금융그룹'})

## 홈/원정 경기장과 직전 세경기 결과에 따른 평균 계산
- 각 컬럼에 따른 직전 세경기 결과의 평균 계산
- 초기 세 경기는 나머지 결과의 평균값을 대입

In [4]:
대한항공 = 경기별_수치[경기별_수치['팀명']=="대한항공"][["홈_어웨이","공격종합_성공률", "서브_성공률", "디그_성공률","세트_성공률","리시브_정확도","블로킹_성공률","범실_범실"]]
현대캐피탈 = 경기별_수치[경기별_수치['팀명']=="현대캐피탈"][["홈_어웨이","공격종합_성공률", "서브_성공률", "디그_성공률","세트_성공률","리시브_정확도","블로킹_성공률","범실_범실"]]
KB손해보험 = 경기별_수치[경기별_수치['팀명']=="KB손해보험"][["홈_어웨이","공격종합_성공률", "서브_성공률", "디그_성공률","세트_성공률","리시브_정확도","블로킹_성공률","범실_범실"]]
삼성화재 = 경기별_수치[경기별_수치['팀명']=="삼성화재"][["홈_어웨이","공격종합_성공률", "서브_성공률", "디그_성공률","세트_성공률","리시브_정확도","블로킹_성공률","범실_범실"]]
한국전력 = 경기별_수치[경기별_수치['팀명']=="한국전력"][["홈_어웨이","공격종합_성공률", "서브_성공률", "디그_성공률","세트_성공률","리시브_정확도","블로킹_성공률","범실_범실"]]
우리카드 = 경기별_수치[경기별_수치['팀명']=="우리카드"][["홈_어웨이","공격종합_성공률", "서브_성공률", "디그_성공률","세트_성공률","리시브_정확도","블로킹_성공률","범실_범실"]]
OK금융그룹 = 경기별_수치[경기별_수치['팀명']=="OK금융그룹"][["홈_어웨이","공격종합_성공률", "서브_성공률", "디그_성공률","세트_성공률","리시브_정확도","블로킹_성공률","범실_범실"]]

In [5]:
대한항공_홈 = 대한항공[대한항공['홈_어웨이']==1]
대한항공_어웨이 = 대한항공[대한항공['홈_어웨이']==0]
현대캐피탈_홈 = 현대캐피탈[현대캐피탈['홈_어웨이']==1]
현대캐피탈_어웨이 = 현대캐피탈[현대캐피탈['홈_어웨이']==0]
KB손해보험_홈 = KB손해보험[KB손해보험['홈_어웨이']==1]
KB손해보험_어웨이 = KB손해보험[KB손해보험['홈_어웨이']==0]
삼성화재_홈 = 삼성화재[삼성화재['홈_어웨이']==1]
삼성화재_어웨이 = 삼성화재[삼성화재['홈_어웨이']==0]
한국전력_홈 = 한국전력[한국전력['홈_어웨이']==1]
한국전력_어웨이 = 한국전력[한국전력['홈_어웨이']==0]
우리카드_홈 = 우리카드[우리카드['홈_어웨이']==1]
우리카드_어웨이 = 우리카드[우리카드['홈_어웨이']==0]
OK금융그룹_홈 = OK금융그룹[OK금융그룹['홈_어웨이']==1]
OK금융그룹_어웨이 = OK금융그룹[OK금융그룹['홈_어웨이']==0]

In [6]:
팀_리스트 = [대한항공_홈, 대한항공_어웨이,현대캐피탈_홈, 현대캐피탈_어웨이, KB손해보험_홈, KB손해보험_어웨이, 삼성화재_홈, 삼성화재_어웨이, 한국전력_홈, 한국전력_어웨이, 우리카드_홈, 우리카드_어웨이, OK금융그룹_홈,OK금융그룹_어웨이]

for i in 팀_리스트 :
    i['홈어웨이_공격성공률_평균']=np.nan
    i['홈어웨이_서브성공률_평균']=np.nan
    i['홈어웨이_디그성공률_평균']=np.nan
    i['홈어웨이_세트성공률_평균']=np.nan
    i['홈어웨이_리시브정확도_평균']=np.nan
    i['홈어웨이_블로킹성공률_평균']=np.nan
    i['홈어웨이_범실_평균']=np.nan

In [7]:
for i in 팀_리스트:
    for j in range(2, len(i)):
        i.iloc[j,8:] = i.iloc[j-2:j,1:8].mean().values
for i in 팀_리스트:
    i.iloc[0:2,8:]=i.iloc[2:,8:].mean()
대한항공_홈

,홈_어웨이,공격종합_성공률,서브_성공률,디그_성공률,세트_성공률,리시브_정확도,블로킹_성공률,범실_범실,홈어웨이_공격성공률_평균,홈어웨이_서브성공률_평균,홈어웨이_디그성공률_평균,홈어웨이_세트성공률_평균,홈어웨이_리시브정확도_평균,홈어웨이_블로킹성공률_평균,홈어웨이_범실_평균
8,1,0.53,0.09,0.69,0.51,0.56,0.23,18,0.528202,0.069382,0.735169,0.501629,0.470449,0.186404,25.011236
25,1,0.47,0.03,0.75,0.49,0.50,0.17,17,0.528202,0.069382,0.735169,0.501629,0.470449,0.186404,25.011236
40,1,0.49,0.05,0.65,0.44,0.55,0.15,11,0.500000,0.060000,0.720000,0.500000,0.530000,0.200000,17.500000
52,1,0.52,0.03,0.88,0.49,0.60,0.18,13,0.480000,0.040000,0.700000,0.465000,0.525000,0.160000,14.000000
59,1,0.47,0.08,0.77,0.45,0.46,0.16,24,0.505000,0.040000,0.765000,0.465000,0.575000,0.165000,12.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,1,0.57,0.03,0.86,0.52,0.46,0.16,20,0.515000,0.095000,0.770000,0.485000,0.425000,0.220000,27.500000
1166,1,0.54,0.06,0.73,0.51,0.29,0.26,32,0.585000,0.060000,0.815000,0.545000,0.450000,0.215000,22.500000
1185,1,0.50,0.12,0.71,0.40,0.36,0.16,17,0.555000,0.045000,0.795000,0.515000,0.375000,0.210000,26.000000
1196,1,0.49,0.00,0.79,0.46,0.46,0.13,30,0.520000,0.090000,0.720000,0.455000,0.325000,0.210000,24.500000
1213,1,0.54,0.09,0.90,0.51,0.39,0.21,23,0.495000,0.060000,0.750000,0.430000,0.410000,0.145000,23.500000

In [8]:
df=팀_리스트[0].copy()
for i in 팀_리스트[1:]:
    df = pd.concat([df,i])
df = df.sort_index()
df.drop("홈_어웨이",axis=1, inplace=True)
경기별_수치 = pd.concat([경기별_수치, df], axis=1)
경기별_수치

,index,경기번호,경기날짜,팀명,홈_어웨이,결과,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,...,리시브_정확도,블로킹_성공률,범실_범실,홈어웨이_공격성공률_평균,홈어웨이_서브성공률_평균,홈어웨이_디그성공률_평균,홈어웨이_세트성공률_평균,홈어웨이_리시브정확도_평균,홈어웨이_블로킹성공률_평균,홈어웨이_범실_평균
0,0,1,2017-10-14,대한항공,0,0,65,105,55,10,...,0.56,0.10,34,0.535056,0.064157,0.744775,0.510169,0.472079,0.196124,24.589888
1,1,1,2017-10-14,현대캐피탈,1,1,68,94,54,4,...,0.49,0.21,28,0.527849,0.050581,0.741802,0.491279,0.483663,0.208721,21.418605
2,2,2,2017-10-15,KB손해보험,1,1,76,116,61,14,...,0.48,0.10,35,0.518059,0.066471,0.729647,0.493882,0.415235,0.172176,23.741176
3,3,2,2017-10-15,삼성화재,0,0,68,90,51,5,...,0.41,0.22,29,0.522439,0.050549,0.748963,0.484268,0.431341,0.185427,22.207317
4,4,3,2017-10-17,OK금융그룹,1,1,78,105,57,5,...,0.52,0.24,35,0.506463,0.063598,0.749329,0.476098,0.432378,0.190915,24.128049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1215,608,2022-02-11,우리카드,0,0,54,80,45,4,...,0.26,0.10,29,0.490000,0.070000,0.780000,0.475000,0.385000,0.220000,28.000000
1216,1216,609,2022-02-12,KB손해보험,0,0,78,125,65,12,...,0.51,0.13,19,0.530000,0.085000,0.815000,0.530000,0.290000,0.150000,15.500000
1217,1217,609,2022-02-12,한국전력,1,1,86,123,68,8,...,0.37,0.19,26,0.470000,0.040000,0.775000,0.480000,0.435000,0.245000,21.500000
1218,1218,610,2022-02-13,OK금융그룹,0,1,51,82,41,6,...,0.46,0.15,18,0.400000,0.090000,0.670000,0.370000,0.355000,0.280000,18.500000
1219,1219,610,2022-02-13,현대캐피탈,1,0,40,66,33,7,...,0.44,0.13,13,0.485000,0.040000,0.710000,0.440000,0.525000,0.220000,23.000000

## 직전 다섯경기 결과에 따른 평균 계산
- 각 컬럼에 따른 직전 다섯개의 경기 결과의 평균 계산
- 초기 다섯개의 경기는 나머지 결과의 평균값을 대입

In [9]:
import pandas as pd
df = pd.read_csv("남자배구_경기별_수치.csv")
df['상대팀'].replace({ 'OK저축은행':'OK금융그룹'}, inplace=True)
df['팀명'].replace({ 'OK저축은행':'OK금융그룹'}, inplace=True)

# 직전 다섯경기 IBK기업은행 평균
data = pd.DataFrame()
팀 = df['팀명'].unique()

for i in 팀:
    temp = df[df['팀명'] == i][['index','팀명','경기번호','홈_어웨이', '결과', '범실_범실', '디그_성공률',
                                     '리시브_정확도','공격종합_성공률','블로킹_성공률', '세트_성공률','서브_성공률']]

    temp_cal = pd.DataFrame(index = range(len(temp['경기번호'])),columns=['index','팀명','범실_평균_다섯', '디그_평균_다섯',
                                     '리시브_평균_다섯','공격종합_평균_다섯','블로킹_평균_다섯', '세트_평균_다섯','서브_평균_다섯'])

    for i in range(5,len(temp['경기번호'])):
        temp_cal.iloc[i]['팀명'] = temp.iloc[i]['팀명']
        temp_cal.iloc[i]['index'] = temp.iloc[i]['index']
        temp_cal.iloc[i]['범실_평균_다섯'] = temp.iloc[i-5:i]['범실_범실'].mean()
        temp_cal.iloc[i]['디그_평균_다섯'] = temp.iloc[i-5:i]['디그_성공률'].mean()
        temp_cal.iloc[i]['리시브_평균_다섯'] = temp.iloc[i-5:i]['리시브_정확도'].mean()
        temp_cal.iloc[i]['공격종합_평균_다섯'] = temp.iloc[i-5:i]['공격종합_성공률'].mean()
        temp_cal.iloc[i]['블로킹_평균_다섯'] = temp.iloc[i-5:i]['블로킹_성공률'].mean()
        temp_cal.iloc[i]['세트_평균_다섯'] = temp.iloc[i-5:i]['세트_성공률'].mean()
        temp_cal.iloc[i]['서브_평균_다섯'] = temp.iloc[i-5:i]['서브_성공률'].mean()
    for i in range(0,5):
        temp_cal.iloc[i]['팀명'] = temp.iloc[i]['팀명']
        temp_cal.iloc[i]['index'] = temp.iloc[i]['index']
        temp_cal.iloc[i]['범실_평균_다섯'] = temp_cal['범실_평균_다섯'].mean()
        temp_cal.iloc[i]['디그_평균_다섯'] = temp_cal['디그_평균_다섯'].mean()
        temp_cal.iloc[i]['리시브_평균_다섯'] = temp_cal['리시브_평균_다섯'].mean()
        temp_cal.iloc[i]['공격종합_평균_다섯'] = temp_cal['공격종합_평균_다섯'].mean()
        temp_cal.iloc[i]['블로킹_평균_다섯'] = temp_cal['블로킹_평균_다섯'].mean()
        temp_cal.iloc[i]['세트_평균_다섯'] = temp_cal['세트_평균_다섯'].mean()
        temp_cal.iloc[i]['서브_평균_다섯'] = temp_cal['서브_평균_다섯'].mean()
    data = pd.concat([data,temp_cal])

data = data.sort_values(by=['index'], axis=0)
# data.to_csv('남배_다섯경기평균.csv')
data

,index,팀명,범실_평균_다섯,디그_평균_다섯,리시브_평균_다섯,공격종합_평균_다섯,블로킹_평균_다섯,세트_평균_다섯,서브_평균_다섯
0,0,대한항공,24.80452,0.740034,0.47096,0.531785,0.191537,0.505966,0.066802
0,1,현대캐피탈,22.621965,0.740127,0.477191,0.520613,0.201561,0.484971,0.051434
0,2,KB손해보험,23.53494,0.735072,0.413867,0.509952,0.168108,0.479518,0.063831
0,3,삼성화재,22.909639,0.742157,0.423892,0.520687,0.181976,0.484578,0.049133
0,4,OK금융그룹,23.732934,0.747461,0.426144,0.516156,0.189617,0.481485,0.065234
...,...,...,...,...,...,...,...,...,...
177,1215,우리카드,22.4,0.792,0.396,0.464,0.21,0.452,0.048
170,1216,KB손해보험,20.0,0.78,0.296,0.52,0.136,0.502,0.078
167,1217,한국전력,20.0,0.814,0.398,0.52,0.178,0.484,0.042
171,1218,OK금융그룹,22.4,0.74,0.346,0.496,0.2,0.468,0.09
177,1219,현대캐피탈,19.2,0.74,0.484,0.488,0.164,0.452,0.026

## 직전 세경기 결과에 따른 상대전적
- 각 컬럼에 따른 직전 세경기 결과의 평균 계산
- 초기 세 경기는 나머지 결과의 평균값을 대입

In [10]:
# 직전 세경기 상대전적
data2 = pd.DataFrame()
팀 = df['팀명'].unique()

for i in 팀:
    temp = df[df['팀명'] == i][['index','팀명','상대팀','범실_범실', '디그_성공률',
                                     '리시브_정확도','공격종합_성공률','블로킹_성공률', '세트_성공률','서브_성공률']]
    for j in 팀:
        if i == j: continue
        tp = temp[temp['상대팀']==j].copy()
        temp_cal = pd.DataFrame(index = range(len(tp['index'])),columns=['index','팀명','범실_상대전적', '디그_상대전적',
                                         '리시브_상대전적','공격종합_상대전적','블로킹_상대전적', '세트_상대전적','서브_상대전적'])
        for k in range(3,len(tp['index'])):
            temp_cal.iloc[k]['index'] = tp.iloc[k]['index']
            temp_cal.iloc[k]['팀명'] = tp.iloc[k]['팀명']
            temp_cal.iloc[k]['범실_상대전적'] = temp.iloc[k-3:k]['범실_범실'].mean()
            temp_cal.iloc[k]['디그_상대전적'] = temp.iloc[k-3:k]['디그_성공률'].mean()
            temp_cal.iloc[k]['리시브_상대전적'] = temp.iloc[k-3:k]['리시브_정확도'].mean()
            temp_cal.iloc[k]['공격종합_상대전적'] = temp.iloc[k-3:k]['공격종합_성공률'].mean()
            temp_cal.iloc[k]['블로킹_상대전적'] = temp.iloc[k-3:k]['블로킹_성공률'].mean()
            temp_cal.iloc[k]['세트_상대전적'] = temp.iloc[k-3:k]['세트_성공률'].mean()
            temp_cal.iloc[k]['서브_상대전적'] = temp.iloc[k-3:k]['서브_성공률'].mean()
        for k in range(0,3):
            temp_cal.iloc[k]['index'] = tp.iloc[k]['index']
            temp_cal.iloc[k]['팀명'] = tp.iloc[k]['팀명']
            temp_cal.iloc[k]['범실_상대전적'] = temp_cal['범실_상대전적'].mean()
            temp_cal.iloc[k]['디그_상대전적'] = temp_cal['디그_상대전적'].mean()
            temp_cal.iloc[k]['리시브_상대전적'] = temp_cal['리시브_상대전적'].mean()
            temp_cal.iloc[k]['공격종합_상대전적'] = temp_cal['공격종합_상대전적'].mean()
            temp_cal.iloc[k]['블로킹_상대전적'] = temp_cal['블로킹_상대전적'].mean()
            temp_cal.iloc[k]['세트_상대전적'] = temp_cal['세트_상대전적'].mean()
            temp_cal.iloc[k]['서브_상대전적'] = temp_cal['서브_상대전적'].mean()
        data2 = pd.concat([data2,temp_cal])

data2 = data2.sort_values(by=['index'], axis=0)
# data2.to_csv('남배_세경기상대전적.csv')
data2

,index,팀명,범실_상대전적,디그_상대전적,리시브_상대전적,공격종합_상대전적,블로킹_상대전적,세트_상대전적,서브_상대전적
0,0,대한항공,24.21875,0.734375,0.498646,0.520729,0.173854,0.500208,0.067083
0,1,현대캐피탈,21.03125,0.750833,0.516979,0.531458,0.209896,0.47875,0.053646
0,2,KB손해보험,24.930556,0.755972,0.441806,0.508889,0.196111,0.473333,0.083056
0,3,삼성화재,23.388889,0.762917,0.532083,0.555833,0.207778,0.517917,0.043194
0,4,OK금융그룹,24.820513,0.731538,0.510897,0.494744,0.176154,0.445,0.059359
...,...,...,...,...,...,...,...,...,...
27,1215,우리카드,20.0,0.783333,0.466667,0.54,0.13,0.503333,0.086667
27,1216,KB손해보험,26.0,0.823333,0.433333,0.43,0.246667,0.336667,0.043333
27,1217,한국전력,20.333333,0.746667,0.53,0.426667,0.15,0.376667,0.016667
27,1218,OK금융그룹,19.666667,0.773333,0.503333,0.506667,0.123333,0.42,0.056667
27,1219,현대캐피탈,13.0,0.716667,0.573333,0.56,0.136667,0.496667,0.08

In [11]:
df5 = pd.read_csv("./남배_다섯경기평균.csv")

경기별_수치 = pd.concat([경기별_수치, df5.iloc[:,3:]],axis=1)
경기별_수치

,index,경기번호,경기날짜,팀명,홈_어웨이,결과,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,...,홈어웨이_리시브정확도_평균,홈어웨이_블로킹성공률_평균,홈어웨이_범실_평균,범실_평균_다섯,디그_평균_다섯,리시브_평균_다섯,공격종합_평균_다섯,블로킹_평균_다섯,세트_평균_다섯,서브_평균_다섯
0,0,1,2017-10-14,대한항공,0,0,65,105,55,10,...,0.472079,0.196124,24.589888,24.804520,0.740034,0.470960,0.531785,0.191537,0.505966,0.066802
1,1,1,2017-10-14,현대캐피탈,1,1,68,94,54,4,...,0.483663,0.208721,21.418605,22.621965,0.740127,0.477191,0.520613,0.201561,0.484971,0.051434
2,2,2,2017-10-15,KB손해보험,1,1,76,116,61,14,...,0.415235,0.172176,23.741176,23.534940,0.735072,0.413867,0.509952,0.168108,0.479518,0.063831
3,3,2,2017-10-15,삼성화재,0,0,68,90,51,5,...,0.431341,0.185427,22.207317,22.909639,0.742157,0.423892,0.520687,0.181976,0.484578,0.049133
4,4,3,2017-10-17,OK금융그룹,1,1,78,105,57,5,...,0.432378,0.190915,24.128049,23.732934,0.747461,0.426144,0.516156,0.189617,0.481485,0.065234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1215,608,2022-02-11,우리카드,0,0,54,80,45,4,...,0.385000,0.220000,28.000000,22.400000,0.792000,0.396000,0.464000,0.210000,0.452000,0.048000
1216,1216,609,2022-02-12,KB손해보험,0,0,78,125,65,12,...,0.290000,0.150000,15.500000,20.000000,0.780000,0.296000,0.520000,0.136000,0.502000,0.078000
1217,1217,609,2022-02-12,한국전력,1,1,86,123,68,8,...,0.435000,0.245000,21.500000,20.000000,0.814000,0.398000,0.520000,0.178000,0.484000,0.042000
1218,1218,610,2022-02-13,OK금융그룹,0,1,51,82,41,6,...,0.355000,0.280000,18.500000,22.400000,0.740000,0.346000,0.496000,0.200000,0.468000,0.090000
1219,1219,610,2022-02-13,현대캐피탈,1,0,40,66,33,7,...,0.525000,0.220000,23.000000,19.200000,0.740000,0.484000,0.488000,0.164000,0.452000,0.026000

In [12]:
df3 = pd.read_csv("./남배_세경기상대전적.csv")
경기별_수치 = pd.concat([경기별_수치, df3.iloc[:,3:]],axis=1)
경기별_수치

,index,경기번호,경기날짜,팀명,홈_어웨이,결과,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,...,블로킹_평균_다섯,세트_평균_다섯,서브_평균_다섯,범실_상대전적,디그_상대전적,리시브_상대전적,공격종합_상대전적,블로킹_상대전적,세트_상대전적,서브_상대전적
0,0,1,2017-10-14,대한항공,0,0,65,105,55,10,...,0.191537,0.505966,0.066802,24.218750,0.734375,0.498646,0.520729,0.173854,0.500208,0.067083
1,1,1,2017-10-14,현대캐피탈,1,1,68,94,54,4,...,0.201561,0.484971,0.051434,21.031250,0.750833,0.516979,0.531458,0.209896,0.478750,0.053646
2,2,2,2017-10-15,KB손해보험,1,1,76,116,61,14,...,0.168108,0.479518,0.063831,24.930556,0.755972,0.441806,0.508889,0.196111,0.473333,0.083056
3,3,2,2017-10-15,삼성화재,0,0,68,90,51,5,...,0.181976,0.484578,0.049133,23.388889,0.762917,0.532083,0.555833,0.207778,0.517917,0.043194
4,4,3,2017-10-17,OK금융그룹,1,1,78,105,57,5,...,0.189617,0.481485,0.065234,24.820513,0.731538,0.510897,0.494744,0.176154,0.445000,0.059359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1215,608,2022-02-11,우리카드,0,0,54,80,45,4,...,0.210000,0.452000,0.048000,20.000000,0.783333,0.466667,0.540000,0.130000,0.503333,0.086667
1216,1216,609,2022-02-12,KB손해보험,0,0,78,125,65,12,...,0.136000,0.502000,0.078000,26.000000,0.823333,0.433333,0.430000,0.246667,0.336667,0.043333
1217,1217,609,2022-02-12,한국전력,1,1,86,123,68,8,...,0.178000,0.484000,0.042000,20.333333,0.746667,0.530000,0.426667,0.150000,0.376667,0.016667
1218,1218,610,2022-02-13,OK금융그룹,0,1,51,82,41,6,...,0.200000,0.468000,0.090000,19.666667,0.773333,0.503333,0.506667,0.123333,0.420000,0.056667
1219,1219,610,2022-02-13,현대캐피탈,1,0,40,66,33,7,...,0.164000,0.452000,0.026000,13.000000,0.716667,0.573333,0.560000,0.136667,0.496667,0.080000

## 팀명을 팀코드로 변환

In [13]:
a = ['대한항공', '현대캐피탈', 'KB손해보험', "삼성화재", "OK금융그룹", "한국전력", "우리카드"]
b=list(range(0,7))
dic = dict(zip(a,b))

경기별_수치['팀코드']= 경기별_수치['팀명'].replace(dic)
경기별_수치['상대팀코드']= 경기별_수치['상대팀'].replace(dic)

경기별_수치

,index,경기번호,경기날짜,팀명,홈_어웨이,결과,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,...,세트_평균_다섯,서브_평균_다섯,범실_상대전적,디그_상대전적,리시브_상대전적,공격종합_상대전적,블로킹_상대전적,세트_상대전적,서브_상대전적,상대팀코드
0,0,1,2017-10-14,대한항공,0,0,65,105,55,10,...,0.505966,0.066802,24.218750,0.734375,0.498646,0.520729,0.173854,0.500208,0.067083,1
1,1,1,2017-10-14,현대캐피탈,1,1,68,94,54,4,...,0.484971,0.051434,21.031250,0.750833,0.516979,0.531458,0.209896,0.478750,0.053646,0
2,2,2,2017-10-15,KB손해보험,1,1,76,116,61,14,...,0.479518,0.063831,24.930556,0.755972,0.441806,0.508889,0.196111,0.473333,0.083056,3
3,3,2,2017-10-15,삼성화재,0,0,68,90,51,5,...,0.484578,0.049133,23.388889,0.762917,0.532083,0.555833,0.207778,0.517917,0.043194,2
4,4,3,2017-10-17,OK금융그룹,1,1,78,105,57,5,...,0.481485,0.065234,24.820513,0.731538,0.510897,0.494744,0.176154,0.445000,0.059359,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1215,608,2022-02-11,우리카드,0,0,54,80,45,4,...,0.452000,0.048000,20.000000,0.783333,0.466667,0.540000,0.130000,0.503333,0.086667,3
1216,1216,609,2022-02-12,KB손해보험,0,0,78,125,65,12,...,0.502000,0.078000,26.000000,0.823333,0.433333,0.430000,0.246667,0.336667,0.043333,5
1217,1217,609,2022-02-12,한국전력,1,1,86,123,68,8,...,0.484000,0.042000,20.333333,0.746667,0.530000,0.426667,0.150000,0.376667,0.016667,2
1218,1218,610,2022-02-13,OK금융그룹,0,1,51,82,41,6,...,0.468000,0.090000,19.666667,0.773333,0.503333,0.506667,0.123333,0.420000,0.056667,1
1219,1219,610,2022-02-13,현대캐피탈,1,0,40,66,33,7,...,0.452000,0.026000,13.000000,0.716667,0.573333,0.560000,0.136667,0.496667,0.080000,4

## 최종 남자배구 전처리 데이터 생성

In [14]:
a = 경기별_수치[["결과", "홈_어웨이","팀코드","상대팀코드"]]


데이터 = pd.concat([a, 경기별_수치.loc[:,'홈어웨이_공격성공률_평균':"서브_상대전적"]],axis=1)
데이터

,결과,홈_어웨이,팀코드,상대팀코드,홈어웨이_공격성공률_평균,홈어웨이_서브성공률_평균,홈어웨이_디그성공률_평균,홈어웨이_세트성공률_평균,홈어웨이_리시브정확도_평균,홈어웨이_블로킹성공률_평균,...,블로킹_평균_다섯,세트_평균_다섯,서브_평균_다섯,범실_상대전적,디그_상대전적,리시브_상대전적,공격종합_상대전적,블로킹_상대전적,세트_상대전적,서브_상대전적
0,0,0,0,1,0.535056,0.064157,0.744775,0.510169,0.472079,0.196124,...,0.191537,0.505966,0.066802,24.218750,0.734375,0.498646,0.520729,0.173854,0.500208,0.067083
1,1,1,1,0,0.527849,0.050581,0.741802,0.491279,0.483663,0.208721,...,0.201561,0.484971,0.051434,21.031250,0.750833,0.516979,0.531458,0.209896,0.478750,0.053646
2,1,1,2,3,0.518059,0.066471,0.729647,0.493882,0.415235,0.172176,...,0.168108,0.479518,0.063831,24.930556,0.755972,0.441806,0.508889,0.196111,0.473333,0.083056
3,0,0,3,2,0.522439,0.050549,0.748963,0.484268,0.431341,0.185427,...,0.181976,0.484578,0.049133,23.388889,0.762917,0.532083,0.555833,0.207778,0.517917,0.043194
4,1,1,4,5,0.506463,0.063598,0.749329,0.476098,0.432378,0.190915,...,0.189617,0.481485,0.065234,24.820513,0.731538,0.510897,0.494744,0.176154,0.445000,0.059359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,0,0,6,3,0.490000,0.070000,0.780000,0.475000,0.385000,0.220000,...,0.210000,0.452000,0.048000,20.000000,0.783333,0.466667,0.540000,0.130000,0.503333,0.086667
1216,0,0,2,5,0.530000,0.085000,0.815000,0.530000,0.290000,0.150000,...,0.136000,0.502000,0.078000,26.000000,0.823333,0.433333,0.430000,0.246667,0.336667,0.043333
1217,1,1,5,2,0.470000,0.040000,0.775000,0.480000,0.435000,0.245000,...,0.178000,0.484000,0.042000,20.333333,0.746667,0.530000,0.426667,0.150000,0.376667,0.016667
1218,1,0,4,1,0.400000,0.090000,0.670000,0.370000,0.355000,0.280000,...,0.200000,0.468000,0.090000,19.666667,0.773333,0.503333,0.506667,0.123333,0.420000,0.056667
1219,0,1,1,4,0.485000,0.040000,0.710000,0.440000,0.525000,0.220000,...,0.164000,0.452000,0.026000,13.000000,0.716667,0.573333,0.560000,0.136667,0.496667,0.080000

In [15]:
데이터.to_csv("남자배구모델데이터.csv")